.about {
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px 20px 49px 20px;

  @media (min-width: $vp-768) {
    padding: 45px 30px 47px 30px;
  }

  @media (min-width: $vp-1440) {
    padding: 71px 110px 69px 110px;
  }
}

.about__title {
  max-width: 600px;
  margin: 0 0 40px 0;

  @include title(36px, 40px);

  @media (min-width: $vp-768) {
    margin: 0 0 32px 0;
  }
}

.about__list {
  display: grid;
  margin: 0;
  padding: 0;

  list-style: none;

  counter-reset: number 0;

  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));

  @media (min-width: $vp-768) {
    column-gap: 140px;

    grid-template-columns: repeat(auto-fill, 245px);
    row-gap: 37px;
  }

  @media (min-width: $vp-1440) {
    column-gap: 80px;
  }
}

.about__item {
  position: relative;

  min-height: 60px;
  padding: 2px 0 2px 80px;

  font-family: $ff-lato;
  color: $color-charcoal;

  counter-increment: number;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 60px;
    height: 60px;

    background-color: $color-apple;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px;
  }

  &--healthy::before {
    background-image: url("../img/svg/healthy-icon.svg");
  }

  &--making::before {
    background-image: url("../img/svg/making-icon.svg");
  }

  &--feeding::before {
    background-image: url("../img/svg/feeding-icon.svg");
  }

  &--effect::before {
    background-image: url("../img/svg/effect-icon.svg");
  }

  @media (min-width: $vp-768) {
    padding: 151px 0 57px 0;

    font-size: 16px;
    line-height: 24px;

    &::before {
      top: 40px;

      width: 80px;
      height: 80px;
    }

    &::after {
      content: counter(number);
      position: absolute;
      top: 0;
      right: 0;
      z-index: -5;

      font-size: 280px;
      line-height: 280px;
      font-family: $ff-oswald;
      color: $color-white-smoke;
    }

    &:first-child::after {
      right: 20px;
    }
  }
}
