.additional {
  padding: 25px 0 35px 0;
  overflow: hidden;
}

.additional__title {
  position: relative;

  width: max-content;
  max-width: 300px;
  margin: 0 0 36px 0;
  padding: 0 21px 0 20px;

  font-weight: 400;
  font-size: 24px;
  line-height: 24px;

  background-color: $color-white;

  &::after {
    content: "";
    position: absolute;
    top: 15px;
    z-index: -1;

    width: 200vw;
    height: 2px;

    background-color: $color-apple;
  }
}

.additional__wrapper {
  padding: 0 20px 0 20px;
}

.additional__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.additional__item {
  position: relative;

  padding: 13px 0 19px 0;

  &::before {
    content: "";
    position: absolute;
    top: 0;

    width: 100%;
    height: 1px;

    background-color: $color-very-light-grey;
  }

  &:last-child::after {
    content: "";
    position: absolute;
    bottom: 0;

    width: 100%;
    height: 1px;

    background-color: $color-very-light-grey;
  }
}

.additional__subitle {
  margin: 0 0 13px 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: $color-nero;
  text-transform: uppercase;
}

.additional__points {
  display: flex;
  justify-content: space-between;
  margin: 0 0 15px 0;

  font-family: $ff-lato;
  color: $color-charcoal;
}

.additional__term {
  max-width: 150px;
}

.additional__definition {
  max-width: 110px;
  margin: 0;
}

.additional__link {
  padding: 10px 20px;
}

.additional__bonus {
  position: relative;

  margin: 35px 0 0 0;
  padding: 187px 59px 43px 59px;

  font-size: 16px;
  line-height: 20px;
  font-family: $ff-lato;
  text-align: center;
  color: $color-white;

  background-color: rgba($color-apple, 0.85);

  &::before,
  &::after {
    content: "";
    position: absolute;

    background-repeat: no-repeat;
  }

  &::before {
    top: 59px;
    left: 50%;

    width: 78px;
    height: 80px;

    background-image: url("../img/svg/gift-icon.svg");
    transform: translateX(-50%);
  }

  &::after {
    top: 0;
    left: 0;
    z-index: -1;

    width: 100%;
    height: 100%;

    background-image: url("../img/background/bonus-cat.jpg");
    background-position: center;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background/bonus-cat@2x.jpg");
    }
  }
}
