.application {
  max-width: 1440px;
  margin: 0 auto;
  padding: 28px 20px 32px 20px;

  @media (min-width: $vp-768) {
    padding: 64px 70px 72px 70px;
  }

  @media (min-width: $vp-1440) {
    padding: 75px 110px 82px 110px;
  }
}

.application__title {
  max-width: 600px;
  margin: 0 0 37px 0;

  @include title(36px, 36px);

  @media (min-width: $vp-768) {
    margin: 0 0 54px 0;
  }

  @media (min-width: $vp-1440) {
    margin: 0 0 56px 0;
  }
}

.application__description {
  max-width: 230px;
  margin: 0 0 37px 0;

  color: $color-charcoal;
  text-transform: uppercase;

  @media (min-width: $vp-768) {
    max-width: 330px;
    margin: 0 0 66px 0;

    font-size: 20px;
    line-height: 30px;
  }
}

.application__subject {
  position: relative;

  width: max-content;
  max-width: 228px;
  margin: 0 0 0 -23px;
  padding: 0 23px;

  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  text-transform: none;

  background-color: $color-white;

  &::after {
    content: "";
    position: absolute;
    top: 15px;
    left: 50%;
    z-index: -1;

    width: 200vw;
    height: 2px;

    background-color: $color-apple;
    transform: translateX(-50%);
  }

  @media (min-width: $vp-768) {
    max-width: 600px;
    margin: 0 0 0 -40px;
    padding: 0 40px;

    font-size: 36px;
    line-height: 36px;

    &::after {
      top: 22px;
    }
  }
}

.application__form-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  gap: 24px;

  @media (min-width: $vp-768) {
    gap: 65px;
  }
}

.application__fieldset {
  width: 100%;
  margin: 0;
  padding: 0;

  font-size: 16px;
  text-transform: uppercase;

  border: 0;

  &--contacts {
    .application__subject {
      margin-bottom: 35px;
    }

    .application__contact {
      column-gap: 10px;
    }
  }

  &--comments {
    .application__subject {
      margin-bottom: 37px;
    }
  }

  &--additional {
    .application__subject {
      margin-bottom: 34px;
    }
  }

  @media (min-width: $vp-768) {
    font-size: 20px;
    line-height: 30px;

    &--contacts {
      .application__subject {
        margin-bottom: 76px;
      }

      .application__contact {
        column-gap: 20px;
      }
    }

    &--comments {
      .application__subject {
        margin-bottom: 76px;
      }
    }

    &--additional {
      .application__subject {
        margin-bottom: 57px;
      }
    }
  }

  @media (min-width: $vp-1440) {
    &--half {
      width: calc(50% - 40px);
    }

    &--contacts {
      .application__list {
        align-items: center;
        margin-bottom: 2px;

        column-gap: 78px;

        grid-template-columns: repeat(2, 571px);
      }
    }

    &--comments {
      margin-bottom: 2px;
    }
  }
}

.application__list {
  display: grid;
  margin: 0;
  padding: 0;

  list-style: none;

  gap: 14px;

  &--radio {
    position: relative;

    padding: 22px 0;

    gap: 13px;

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: -20px;

      width: calc(100% + 40px);
      height: 1px;

      background-color: $color-gainsboro;
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }
  }

  &--checkbox {
    gap: 12px;
  }

  @media (min-width: $vp-768) {
    gap: 20px;

    &--radio {
      margin: 9px 0 11px 0;
      padding: 24px 28px;

      box-shadow: 0 0 0 1px $color-whisper-c;

      gap: 13px;

      &::before,
      &::after {
        display: none;
      }
    }

    &--checkbox {
      column-gap: 123px;

      grid-template-columns: repeat(auto-fill, 221px);
      row-gap: 32px;
    }
  }

  @media (min-width: $vp-1440) {
    &--radio {
      margin: 0 0 6px 0;
    }

    &--checkbox {
      column-gap: 104px;
    }
  }
}

// contact input
// ------------------------

.application__contact {
  position: relative;

  display: grid;
  align-items: center;

  column-gap: 14px;

  grid-template-columns: max-content 1fr;
}

.application__textarea {
  display: flex;
}

.application__sign {
  max-width: 95px;

  color: $color-charcoal;

  @media (min-width: $vp-768) {
    max-width: 200px;
  }
}

.application__area {
  width: 100%;
  padding: 14px 20px 13px 20px;

  font-size: 16px;
  line-height: 18px;
  font-family: $ff-oswald;
  text-transform: uppercase;

  border: none;
  outline: 1px solid $color-whisper-c;

  &--mail,
  &--phone {
    padding: 14px 50px 13px 16px;
  }

  &--textarea {
    min-height: 150px;
    padding: 9px 12px 9px 15px;

    resize: none;
  }

  &::placeholder {
    color: $color-charcoal;

    opacity: 1;
  }

  &:hover {
    outline-color: $color-very-light-grey;
  }

  &:focus-visible {
    outline-width: 2px;
    outline-color: $color-charcoal;

    + .application__icon {
      background-color: $color-apple;
    }
  }

  &:disabled {
    outline-color: $color-whisper-c;
    opacity: 0.3;

    + .application__icon {
      opacity: 0.3;
    }
  }

  &:invalid:not(:placeholder-shown) {
    outline-width: 2px;
    outline-color: $color-light-coral;

    + .application__icon {
      background-color: $color-light-coral;
    }
  }

  &::-webkit-contacts-auto-fill-button {
    position: absolute;
    left: 0;

    display: none;

    visibility: hidden;

    pointer-events: none;
  }

  @media (min-width: $vp-768) {
    padding: 11px 20px;

    font-size: 20px;
    line-height: 30px;

    &--mail,
    &--phone {
      padding-right: 50px;
    }

    &--textarea {
      min-height: 174px;
      padding: 10px 19px;
    }
  }

  @media (min-width: $vp-1440) {
    &--mail,
    &--phone {
      padding-right: 60px;
    }
  }
}

.application__icon {
  position: absolute;
  top: 50%;
  right: 15px;

  width: 20px;
  height: 20px;

  background-color: $color-black;
  transform: translateY(-50%);

  mask-repeat: no-repeat;

  &--mail {
    mask-image: url("../img/svg/email-icon.svg");
  }

  &--phone {
    mask-image: url("../img/svg/phone-icon.svg");
  }

  @media (min-width: $vp-1440) {
    right: 19px;
  }
}

// control input
// ------------------------

.application__control {
  display: grid;

  cursor: pointer;

  gap: 15px;
  grid-template-columns: 30px 1fr;

  &:active {
    opacity: 0.6;
  }

  &:has(input:disabled) {
    cursor: default;
    opacity: 1;
  }

  @media (min-width: $vp-768) {
    gap: 20px;
    grid-template-columns: 40px 1fr;
  }
}

.application__value {
  display: block;
  padding: 6px 0;

  color: $color-nero;

  @media (min-width: $vp-768) {
    padding: 5px 0;
  }
}

.application__control-input {
  position: relative;

  width: 30px;
  height: 30px;
  margin: 0;

  border: 0;
  outline: none;
  cursor: pointer;

  appearance: none;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 30px;
    height: 30px;

    border: 1px solid $color-very-light-grey;
  }

  &[type="radio"]::after {
    border-radius: 50%;
  }

  &[type="radio"]:checked {
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;

      width: 13px;
      height: 13px;

      background-color: $color-apple;
      border-radius: 50%;
      transform: translateX(-50%) translateY(-50%);
    }
  }

  &[type="checkbox"]:checked {
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;

      width: 18px;
      height: 14px;

      background-image: url("../img/svg/mark-checkbox.svg");
      background-repeat: no-repeat;
      transform: translateX(-50%) translateY(-50%);
    }
  }

  &:hover {
    &::after {
      border-color: $color-silver;
    }
  }

  &:focus-visible {
    &::after {
      border-width: 2px;
      border-color: $color-charcoal;
    }
  }

  &:disabled {
    &::after {
      border-color: $color-very-light-grey;
      opacity: 0.3;
    }

    & ~ .application__value {
      opacity: 0.3;
    }
  }

  @media (min-width: $vp-768) {
    width: 40px;
    height: 40px;

    &::after {
      width: 40px;
      height: 40px;
    }

    &[type="radio"]:checked {
      &::before {
        width: 18px;
        height: 18px;
      }
    }

    &[type="checkbox"]:checked {
      &::before {
        width: 24px;
        height: 19px;

        background-size: 24px;
      }
    }
  }
}

// submit
// ------------------------

.application__submission {
  margin-top: 34px;

  @media (min-width: $vp-768) {
    display: flex;
    align-items: center;
    margin-top: 54px;
  }

  @media (min-width: $vp-1440) {
    margin-top: 61px;
  }
}

.application__submit {
  width: 100%;
  padding: 10px 20px;

  font-size: 16px;
  line-height: 20px;

  @include button;

  &:focus-visible {
    outline: 3px dotted $color-flamingo;
    outline-offset: 2px;
  }

  @media (min-width: $vp-768) {
    max-width: 282px;
    padding: 13px 45px;

    font-size: 20px;
    line-height: 25px;
  }

  @media (min-width: $vp-1440) {
    max-width: 568px;
  }
}

.application__stint {
  display: block;
  margin: 21px 0 0 0;

  line-height: 16px;
  font-family: $ff-lato;
  text-align: center;

  @media (min-width: $vp-768) {
    margin: 0 0 8px 62px;

    font-size: 16px;
  }

  @media (min-width: $vp-1440) {
    margin: 0 0 0 82px;
  }
}
