.catalog {
  position: relative;

  padding-top: 28px;
  padding-bottom: 25px;

  &::after {
    content: "";
    position: absolute;
    bottom: 25px;
    left: -20px;

    width: calc(100% + 40px);
    height: 1px;

    background-color: $color-whisper-a;
  }

  @media (min-width: $vp-768) {
    padding-top: 64px;
    padding-bottom: 68px;

    &::after {
      display: none;
    }
  }

  @media (min-width: $vp-1440) {
    padding-top: 47px;
    padding-bottom: 75px;
  }
}

.catalog__title {
  max-width: 600px;
  margin: 0 0 41px 0;

  @include font(36px, 36px);

  @media (min-width: $vp-768) {
    margin: 0 0 163px 0;
  }

  @media (min-width: $vp-1440) {
    margin: 0 0 165px 0;
  }
}

.catalog__list {
  display: grid;
  align-items: start;
  margin: 0;
  padding: 0;

  list-style: none;
  column-gap: 30px;

  grid-template-columns: repeat(auto-fill, minmax(245px, 1fr));

  @media (min-width: $vp-768) {
    column-gap: 60px;

    row-gap: 141px;
  }

  @media (min-width: $vp-1440) {
    column-gap: 80px;

    row-gap: 144px;
  }
}

.catalog__item {
  position: relative;

  display: grid;
  padding: 19px 0 25px 0;

  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: minmax(43px, max-content) auto auto;
  row-gap: 13px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -20px;

    width: calc(100% + 40px);
    height: 1px;

    background-color: $color-whisper-a;
  }

  &--more {
    display: block;
    padding: 78px 0 25px 0;

    .catalog__subtitle {
      max-width: 205px;
      margin: 0 auto 8px auto;
    }

    &::after {
      content: "";
      position: absolute;
      top: 25px;
      left: 50%;

      width: 30px;
      height: 30px;

      background-image: url("../img/svg/plus.svg");
      background-repeat: no-repeat;
      transform: translateX(-50%);
    }
  }

  @media (min-width: $vp-768) {
    padding: 161px 37px 39px 37px;

    background-color: $color-white-smoke;

    grid-template-columns: 1fr;

    &::before {
      display: none;
    }

    &--more {
      background-color: $transparent;
      box-shadow: 0 0 0 2px $color-white-smoke inset;

      .catalog__subtitle {
        max-width: 175px;
        margin: 0 auto 23px auto;

        line-height: 22px;
      }

      &::after {
        top: 52px;

        width: 60px;
        height: 60px;

        background-image: url("../img/svg/plus-tablet.svg");
      }
    }
  }

  @media (min-width: $vp-1440) {
    padding: 162px 38px 40px 39px;

    row-gap: 17px;

    &--more {
      padding: 159px 37px 41px 37px;
    }
  }
}

.catalog__image-link {
  display: block;
  width: 140px;
  height: 112px;

  grid-row: 1/3;

  &:hover {
    .catalog__image {
      transform: scale(1.03);
    }
  }

  @media (min-width: $vp-768) {
    position: absolute;
    top: -73px;

    width: 168px;
    height: 200px;

    grid-row: none;
    justify-self: center;
  }

  @media (min-width: $vp-1440) {
    top: -80px;

    width: 172px;
    height: 196px;
  }
}

.catalog__image {
  display: block;

  transition: transform 0.3s ease;
}

.catalog__subtitle {
  display: block;
  max-width: 76px;

  font-size: 16px;
  line-height: 20px;
  color: $color-nero;
  text-transform: uppercase;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $vp-768) {
    max-width: 150px;

    font-size: 20px;
    line-height: 24px;
    text-align: center;

    justify-self: center;
  }

  @media (min-width: $vp-1440) {
    margin-left: 8px;

    line-height: 21px;
  }
}

.catalog__description {
  max-width: 220px;
  margin: 0 auto 21px auto;

  font-size: 12px;
  line-height: 16px;
  font-family: $ff-lato;
  text-align: center;
  color: $color-charcoal;

  @media (min-width: $vp-768) {
    margin: 0 auto 87px auto;

    font-size: 16px;
    line-height: 18px;
  }
}

.catalog__table {
  margin: 0;

  font-size: 12px;
  line-height: 16px;
  font-family: $ff-lato;
  color: $color-charcoal;

  @media (min-width: $vp-768) {
    font-size: 16px;
  }
}

.catalog__row {
  display: flex;
  justify-content: space-between;

  gap: 10px;

  @media (min-width: $vp-768) {
    padding-top: 7px;
    padding-bottom: 8px;

    border-bottom: 1px solid $color-very-light-grey;
  }
}

.catalog__term {
  width: 50%;
}

.catalog__definition {
  width: 50%;
  margin: 0;

  text-align: right;
}

.catalog__button {
  padding: 10px 20px;

  font-size: 16px;
  line-height: 20px;

  grid-column: 1/-1;

  @media (min-width: $vp-768) {
    margin-top: 20px;
  }

  @media (min-width: $vp-1440) {
    margin-top: 16px;
  }
}

.catalog__link {
  padding: 10px 20px;

  font-size: 16px;
  line-height: 20px;
  color: $color-charcoal;

  background-color: $color-white-smoke;

  &:hover {
    background-color: $color-whisper-a;
  }

  &:active {
    color: rgba($color-charcoal, 0.3);
  }
}
