.example {
  padding: 25px 0 40px 0;

  background-color: $color-whisper;

  @media (min-width: $vp-768) {
    padding: 42px 0 100px 0;

    background-image: linear-gradient($color-white 57%, $color-whisper 57%);
    border-top: 1px solid $color-whisper-b;
  }

  @media (min-width: $vp-1440) {
    padding: 0;

    background-color: $transparent;
    background-image: none;
    border-top: none;
  }
}

.example__wrapper {
  position: relative;

  display: grid;

  grid-template-columns: repeat(2, 1fr);

  @media (min-width: $vp-768) {
    grid-template-columns: 366px 1fr;
  }

  @media (min-width: $vp-1440) {
    padding: 70px 0 77px 0;

    grid-template-columns: 436px 1fr;
    grid-template-rows: repeat(3, max-content);

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      z-index: -1;

      width: 100vw;
      height: 100%;
      overflow: hidden;

      background-color: $color-whisper;
      transform: translateX(-50%);
    }
  }
}

.example__title {
  margin: 0 0 40px 0;

  font-weight: 400;
  font-size: 36px;
  line-height: 40px;

  @media (min-width: $vp-768) {
    margin: 0 0 63px 0;

    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $vp-1440) {
    max-width: 600px;
    margin: 0 0 76px 0;
  }
}

.example__description {
  margin: 0 0 20px 0;

  font-family: $ff-lato;
  color: $color-charcoal;

  grid-column: 1/-1;

  @media (min-width: $vp-768) {
    margin: 0 0 54px 0;

    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $vp-1440) {
    margin: 0 0 69px 0;

    grid-column: 1/2;
  }
}

.example__list {
  display: grid;
  margin: 0;

  text-align: center;

  gap: 32px;
  grid-column: 1/-1;
  grid-template-columns: repeat(2, 1fr);

  @media (min-width: $vp-768) {
    margin-bottom: 105px;

    gap: 42px;
    grid-column: 1/2;
  }

  @media (min-width: $vp-1440) {
    width: 84%;
    margin-bottom: 60px;
  }
}

.example__item {
  width: 100%;
  padding: 14px 10px 17px 10px;

  border-radius: 3px;
  box-shadow: 0 0 0 1px $color-very-light-grey;

  @media (min-width: $vp-768) {
    padding: 14px 0 23px 0;
  }
}

.example__number {
  height: 100%;

  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;

  @media (min-width: $vp-768) {
    font-size: 30px;
    line-height: 37px;
  }
}

.example__text {
  width: 90px;
  margin: auto auto -33px auto;
  padding: 9px 15px 0 15px;

  font-size: 12px;
  line-height: 12px;
  font-family: $ff-lato;
  color: $color-charcoal;

  background-color: $color-whisper;

  @media (min-width: $vp-768) {
    width: max-content;
    padding: 16px 12px 0 12px;

    font-size: 14px;
    line-height: 14px;

    background-color: $color-white;
  }

  @media (min-width: $vp-1440) {
    background-color: $color-whisper;
  }
}

.example__info {
  margin: 35px 0 20px 0;

  line-height: 20px;
  text-align: center;
  text-transform: uppercase;

  grid-column: 1/-1;

  @media (min-width: $vp-768) {
    max-width: 250px;
    margin: 11px 0 0 0;

    font-size: 20px;
    text-align: end;

    grid-column: 2/-1;
    justify-self: end;
  }

  @media (min-width: $vp-1440) {
    display: flex;
    max-width: 100%;
    margin: 0;

    text-align: start;

    grid-column: 1/2;
    justify-self: start;
  }
}

.example__price {
  @media (min-width: $vp-768) {
    display: block;
    margin-top: 9px;
  }

  @media (min-width: $vp-1440) {
    min-width: 100px;
    margin-top: 0;
    margin-left: 66px;
  }
}

.example__slider {
  grid-column: 1/-1;
  justify-self: center;

  @media (min-width: $vp-1440) {
    position: absolute;
    right: 0;
    bottom: 85px;
  }
}
