.page-footer {
  padding: 40px 0;

  background-color: $color-white-smoke;

  @media (min-width: $vp-768) {
    padding: 55px 0;
  }

  @media (min-width: $vp-1440) {
    padding: 66px 0;
  }
}

.page-footer__wrapper {
  display: grid;

  gap: 20px;

  @media (min-width: $vp-768) {
    align-items: start;

    grid-template-columns: repeat(3, 1fr);
  }
}

.page-footer__logo {
  display: block;

  justify-self: center;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $vp-768) {
    justify-self: start;
  }
}

.page-footer__wordmarks {
  display: block;

  @media (min-width: $vp-768) {
    width: 143px;
    height: 26px;
    margin-top: 5px;
  }
}

.page-footer__list {
  display: grid;
  justify-content: center;
  margin: 0;
  padding: 19px 0 19px 0;

  list-style: none;
  column-gap: 23px;

  border-top: 1px solid $color-gainsboro;
  border-bottom: 1px solid $color-gainsboro;

  grid-template-columns: repeat(3, max-content);
  row-gap: 10px;

  @media (min-width: $vp-768) {
    margin-top: 8px;
    padding: 0;

    border-top: none;
    border-bottom: none;
  }
}

.page-footer__link {
  display: block;
  width: 29px;
  height: 22px;

  color: $color-dim-gray;

  &:hover {
    color: $color-apple;

    transition-duration: 0.3s;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-footer__copyright {
  display: flex;
  align-items: center;

  font-size: 16px;
  line-height: 19px;
  font-family: $ff-lato;
  color: $color-charcoal;

  justify-self: center;

  &:hover .page-footer__copyright-icon {
    color: $color-apple;

    transition-duration: 0.3s;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $vp-768) {
    justify-self: end;
  }
}

.page-footer__copyright-text {
  display: block;
  max-width: 115px;
  margin-right: 139px;

  @media (min-width: $vp-768) {
    margin-right: 28px;
  }
}

.page-footer__copyright-icon {
  flex-shrink: 0;
}
