.page-header {
  position: relative;

  &--inner {
    min-height: 65px;

    border-bottom: 1px solid $color-gainsboro;
  }

  @media (min-width: $vp-768) {
    &--inner {
      min-height: auto;

      border-bottom: none;
    }
  }

  @media (min-width: $vp-1440) {
    &--main {
      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;

        width: 50%;
        height: 100%;

        background-repeat: no-repeat;
        background-size: cover;
      }

      &::before {
        z-index: -3;

        background-image: url("../img/background/hero-cat-desktop.jpg");

        @media (min-resolution: 2dppx) {
          background-image: url("../img/background/hero-cat-desktop@2x.jpg");
        }
      }

      &::after {
        z-index: -2;

        background-color: rgba($color-apple, 0.85);
      }
    }

    &--inner {
      padding-top: 53px;
      padding-bottom: 29px;
    }
  }
}

.page-header__container {
  position: relative;

  min-height: 65px;

  @media (min-width: $vp-768) {
    min-height: auto;
  }

  @media (min-width: $vp-1440) {
    padding-top: 53px;
    padding-bottom: 29px;
  }
}

// logo image

.page-header__logo {
  position: absolute;
  bottom: 4px;

  display: block;
  height: 100%;

  .no-js & {
    position: static;

    padding: 10px 0 17px 0;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $vp-768) {
    position: static;

    width: 174px;
    height: 52px;
  }

  @media (min-width: $vp-1440) {
    width: 202px;
    height: 59px;
  }
}

.page-header__mascot {
  display: block;
  height: 100%;
}

// burger

.page-header__toggle {
  position: absolute;
  right: 20px;

  width: 24px;
  height: 100%;
  padding: 0;

  background: $transparent;
  border: none;
  cursor: pointer;

  .no-js & {
    display: none;
  }

  @media (min-width: $vp-768) {
    display: none;
  }
}

.page-header__toggle-line {
  display: block;
  height: 2px;

  background-color: $color-black;

  transition: all 0.3s;

  &--top {
    margin-bottom: 6px;
  }

  &--low {
    margin-top: 6px;
  }

  .is-open & {
    &--top {
      margin-bottom: 0;

      transform: rotate(-45deg);
    }

    &--mid {
      transform: scale(0);
    }

    &--low {
      margin-top: -4px;

      transform: rotate(45deg);
    }
  }
}

// navigation

.page-header__nav {
  @media (min-width: $vp-768) {
    display: flex;
    justify-content: space-between;
    align-items: start;
  }
}

.page-header__list {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 5;

  display: none;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;

  list-style: none;
  text-align: center;

  .no-js & {
    position: relative;
    left: -20px;

    display: flex;
    width: calc(100% + 40px);
  }

  .is-open & {
    display: flex;
  }

  @media (min-width: $vp-768) {
    position: relative;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 440px;

    column-gap: 34px;
  }

  @media (min-width: $vp-1440) {
    max-width: 480px;
  }
}

.page-header__item {
  background-color: $color-white;
  box-shadow: 0 0 0 1px $color-whisper-b;

  @media (min-width: $vp-768) {
    background-color: $transparent;
    box-shadow: none;
  }
}

.page-header__link {
  position: relative;

  display: block;
  padding: 22px 50px 24px 50px;

  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: $color-black;
  text-transform: uppercase;

  &--current {
    cursor: default;
  }

  &:not(&--current):hover {
    opacity: 0.6;
  }

  &:not(&--current):active {
    opacity: 0.3;
  }

  @media (min-width: $vp-768) {
    padding: 17px 0 10px 0;

    font-weight: 400;
    font-size: 18px;
    line-height: 24px;

    &--current {
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;

        display: block;
        width: 100%;
        height: 2px;

        background-color: $color-apple;
      }
    }
  }

  @media (min-width: $vp-1440) {
    padding: 17px 0 7px 0;

    font-size: 20px;
    line-height: 30px;

    &--white {
      color: $color-white;

      &::after {
        background-color: $color-white;
      }
    }
  }
}
