.products {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: $vp-768) {
    padding: 0 30px;
  }

  @media (min-width: $vp-1440) {
    padding: 82px 110px 0 110px;
  }
}

.products__list {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  margin: 0;
  padding: 0;

  list-style: none;

  row-gap: 20px;

  @media (min-width: $vp-768) {
    row-gap: 30px;
  }

  @media (min-width: $vp-1440) {
    column-gap: 80px;
  }
}

.products__item {
  position: relative;

  width: 100%;
  padding: 30px 20px 18px 20px;

  background-color: $color-white-smoke;

  &::before {
    content: "";
    position: absolute;

    background-repeat: no-repeat;
    background-size: cover;
  }

  &--slim::before {
    top: 21px;
    left: 22px;

    width: 50px;
    height: 52px;

    background-image: url("../img/svg/cat-slim.svg");
  }

  &--pro::before {
    top: 24px;
    left: 13px;

    width: 67px;
    height: 50px;

    background-image: url("../img/svg/cat-pro.svg");
  }

  @media (min-width: $vp-768) {
    padding: 77px 62px 53px 52px;

    &--slim::before {
      top: 81px;
      right: 62px;
      left: auto;

      width: 200px;
      height: 211px;

      background-image: url("../img/svg/cat-slim-tablet.svg");
    }

    &--pro::before {
      top: 91px;
      right: 28px;
      left: auto;

      width: 268px;
      height: 200px;

      background-image: url("../img/svg/cat-pro-tablet.svg");
    }
  }

  @media (min-width: $vp-1440) {
    max-width: 570px;
    padding: 77px 62px 55px 52px;

    &--slim::before {
      top: 41px;
      left: 52px;

      width: 100px;
      height: 106px;

      background-image: url("../img/svg/cat-slim-desktop.svg");
    }

    &--pro::before {
      top: 47px;
      left: 33px;

      width: 134px;
      height: 100px;

      background-image: url("../img/svg/cat-pro-desktop.svg");
    }
  }
}

.products__subtitle {
  margin: 0 0 29px 71px;

  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;

  @media (min-width: $vp-768) {
    max-width: 340px;
    margin: 0 0 24px 0;

    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $vp-1440) {
    margin: 0 0 73px 162px;
  }
}

.products__description {
  position: relative;

  margin: 0 0 38px 0;

  font-family: $ff-lato;
  color: $color-charcoal;

  &::after {
    content: "";
    position: absolute;
    bottom: -23px;
    left: 0;

    width: 100%;
    height: 1px;

    background-color: $color-gainsboro;
  }

  @media (min-width: $vp-768) {
    max-width: 340px;
    margin: 0 0 48px 0;

    font-size: 16px;
    line-height: 24px;

    &::after {
      display: none;
    }
  }

  @media (min-width: $vp-1440) {
    max-width: 100%;
    margin: 0 0 24px 0;
  }
}

.products__link {
  position: relative;

  display: block;
  width: max-content;
  max-width: 185px;
  padding: 4px 0 4px 0;

  font-size: 16px;
  line-height: 16px;
  color: $color-black;
  text-transform: uppercase;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: calc(100% + 15px);

    width: 24px;
    height: 12px;

    background-image: url("../img/svg/arrow.svg");
    transform: translateY(-50%);
  }

  &:hover {
    &::after {
      width: 32px;

      background-image: url("../img/svg/arrow-hover.svg");
    }
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $vp-768) {
    align-self: end;

    font-size: 20px;
    line-height: 30px;

    &::after {
      left: calc(100% + 25px);
    }
  }
}
