.slider {
  display: grid;
  width: min(100%, 280px);

  aspect-ratio: 280/256;
  grid-template-columns: calc(50% - 2px) auto calc(50% - 2px);

  @media (min-width: $vp-768) {
    width: min(100%, 560px);

    aspect-ratio: 560/512;
  }
}

.slider__image {
  display: block;
  width: 100%;
  height: 100%;

  object-fit: cover;

  &--before {
    object-position: left;
  }

  &--after {
    object-position: right;
  }
}

.slider__control {
  position: relative;

  width: 4px;
  height: 100%;

  color: $color-dim-gray;

  background-color: currentColor;
  border-radius: 2px;
  cursor: pointer;

  &:hover {
    color: $color-apple;
  }

  &:active {
    color: rgba($color-apple, 0.6);
  }
}

.slider__thumb {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 40px;
  height: 40px;

  color: inherit;

  background-color: $color-white;
  border: 2px solid currentColor;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;

  &::after {
    content: "";

    display: block;
    width: 24px;
    height: 18px;

    background-color: currentColor;

    mask-image: url("../img/svg/slider-arrow.svg");
    mask-repeat: no-repeat;
  }

  &:focus-visible {
    outline: 3px dotted $color-flamingo;
    outline-offset: 2px;
  }
}
