.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.button {
  display: block;

  font-family: $ff-oswald;
  text-align: center;
  color: $color-white;
  text-transform: uppercase;

  background-color: $color-apple;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: $color-limeade;
  }

  &:active {
    color: rgba($color-white, 0.3);
  }

  &:focus-visible {
    outline: 3px dotted $color-flamingo;
    outline-offset: 2px;
  }
}
