// Colors
// ------------------------

// Default

$color-black:                               #000000;
$color-white:                               #ffffff;
$transparent:                               rgba(0, 0, 0, 0);

// Project pallete

$color-apple:                               #68b738;
$color-limeade:                             #5eaa2f;
$color-light-coral:                         #ff8282;
$color-light-black:                         #111111;
$color-nero:                                #222222;
$color-charcoal:                            #444444;
$color-dim-gray:                            #666666;
$color-white-smoke:                         #f2f2f2;
$color-gainsboro:                           #d9d9d9;
$color-very-light-grey:                     #cdcdcd;
$color-whisper:                             #eaeaea;
$color-whisper-a:                           #ebebeb;
$color-whisper-b:                           #e6e6e6;
$color-whisper-c:                           #e7e7e7;

// Typography
// ------------------------

$ff-lato: "Lato", "Arial", sans-serif;
$ff-oswald: "Oswald", "Arial", sans-serif;

// Viewports
// ------------------------

$vp-768: 768px;
$vp-1440: 1440px;
