// Global
// ------------------------

@import "global/variables";
@import "global/fonts";
@import "global/reboot";
@import "global/utils";
@import "global/container";

// Blocks
// ------------------------

@import "blocks/page-main";
@import "blocks/page-header.scss";
@import "blocks/hero";
@import "blocks/button";
@import "blocks/products";
@import "blocks/about";
@import "blocks/example";
@import "blocks/slider";
@import "blocks/map";
@import "blocks/page-footer";
@import "blocks/catalog";
@import "blocks/additional";
@import "blocks/application";
